@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Bevellier";
    src: url('/assets/fonts/Bevellier/ClashDisplay-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Bevellier-Black";
    src: url('/assets/fonts/Bevellier/ClashDisplay-Bold.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

.hover-outline-white:hover {
    color: #1E1E1E;
    text-shadow:
            -1px -1px 0 #fff,
            1px -1px 0 #fff,
            -1px 1px 0 #fff,
            1px 1px 0 #fff;
}

.outline-white {
    color: #1E1E1E;
    text-shadow:
            -1px -1px 0 #fff,
            1px -1px 0 #fff,
            -1px 1px 0 #fff,
            1px 1px 0 #fff;
}


